[submodule "sealdice-core"]
	path = sealdice-core
	url = https://github.com/GuraQwQ/sealdice-Sharkcore-private.git
	branch = main
[submodule "sealdice-sharkui"]
	path = sealdice-sharkui
	url = https://github.com/GuraQwQ/sealdice-sharkui.git
	branch = master
